.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: 296.2px;
  padding: 30px;
  background-color: var(--bg-color-shift);
  opacity: 0.9;
  color: var(--color-shift);
  border-radius: 30px;
}

.loading {
  font-size: 14px;
  opacity: 0.6;
}