.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 205.48px;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid var(--color-border);
}

.loading {
  font-size: 14px;
  opacity: 0.6;
}
