.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  background-color: var(--bg-color-shift);
  opacity: 0.9;
  color: var(--color-shift);
  border-radius: 30px;
  font-size: 16px;
}

.location {
  font-size: 14px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.wrapper__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.worker__wrapper {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 6px;
}

.title__wrapper {
  display: flex;
  justify-content: space-between;
  margin-right: 4px;
}

.worker__title {
  opacity: 0.6;
}

.total__employees {
  font-size: 14px;
  display: flex;
  justify-content: end;
}

.total {
  margin: 0 11px 0 18px;
}

.text {
  margin-left: 10px;
}

.count {
  margin-right: 12px;
}

.opacity {
  font-size: 14px;
  opacity: 0.6;
}

.no__data {
  font-size: 14px;
  margin-left: 10px;
  opacity: 0.6;
}
