.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  font-size: 16px;
}

.wrapper {
  position: relative;
  left: -12px;
}

.container:focus {
  outline: none;
}

.container:active {
  transition: transform 0.2s ease;
  transform: scale(0.9);
}

.container:hover {
  opacity: 0.7;
}

.text {
  position: relative;
  left: -4px;
  bottom: 8px;
  color: var(--color-button-default);
}
