.container {
  display: flex;
  flex-direction: column;
  width: 370px;
  gap: 30px;
  margin-top: 16px;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 22px;
  align-items: center;
  margin-top: 10px;
}

.fullname {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.profession {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  line-height: 1.4;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.table {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
