.header__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.total__wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
}
