.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.total__wrapper {
  display: flex;
  width: 100%;
  justify-content: end;
}
