.input {
  margin: clamp(3.125rem, 2.7729rem + 1.7606vw, 4.375rem) 0 10px;
}

.spinner {
  margin-top: clamp(0rem, -0.6897rem + 3.4483vw, 1.25rem);
  margin-bottom: clamp(1.25rem, 0.5603rem + 3.4483vw, 2.5rem);
}

.button {
  color: var(--color-button);
  background-color: var(--bg-color-button);
}
