.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: end;
  font-size: 14px;
}

.title {
  font-size: 12px;
  opacity: 0.6;
}
