.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.wrapper__fio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.wrapper__button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}