.container {
  display: grid;
  justify-content: center;
  overflow: auto;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 60px;
}

.title {
  font-weight: 400;
  text-align: center;
}

.form {
  display: grid;
}

.input__name {
  font-size: 14px;
  position: relative;
  padding: 0 10px 10px;
}

.input__name::after {
  content: '*';
  position: absolute;
  top: 0;
  left: 2px;
  opacity: 0.5;
}

.input {
  width: 100%;
  padding: 10px 16px;
  border: 1px solid var(--color-border);
  border-radius: 16px;
  outline: none;
}

.input:focus {
  outline: none;
}

.input::placeholder{
  font-size: 16px;
}

.errors {
  height: 40px;
  line-height: 0.8;
}

.error,
.errors__server {
  color: #bc1818;
  font-size: 12px;
}

.error {
  padding-left: 5px;
}

.errors__server {
  height: 24px;
  text-align: center;
}

.spinner {
  position: relative;
  justify-self: center;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
}

.button {
  margin: 4px 0 60px;
  border-radius: 16px;
  padding: 12px 0;
  color: var(--color-button);
  font-weight: 400;
  background-color: var(--bg-color-button);
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.button:active {
  transition: transform 0.2s ease;
  /* transform: scale(0.97); */
}
