.section__wrapper {
  display: flex;
  flex-direction: column;
}

.section__wrapper_success {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.section__text {
  display: flex;
  gap: 10px;
}

.section__count {
  margin-right: 12px;
}

.spacer {
  margin-top: 4px;
}

.button__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.button__wrapper .button_accent {
  color: var(--color-button);
  background-color: var(--bg-color-button);
}
