.master {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0.6;
  flex-grow: 1;
}
