.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
  grid-template-rows: 80px 1px auto;
  align-items: end;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* На всю ширину ячейки сетки */
}

.column {
  border-radius: 3px 3px 0 0;
  background-color: var(--bg-color-column);
  position: relative;
  width: 16px;
}

.count {
  position: absolute;
  top: -16px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}
