.container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid var(--color-border);
}

.text__empty {
  font-size: 16px;
}

.wrapper__button {
  display: flex;
  justify-content: end;
  width: 100%;
  margin-top: 30px;
}
