.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  opacity: 0.6;
  flex-grow: 1;
}

.container::after {
  content: '';
  width: 2rem; /* Фиксированная ширина под 3 точки */
  margin-left: 4px; /* Отступ от слова */
  font-family: monospace;
  animation: dots 1s linear infinite;
}

@keyframes dots {
  0% {
    content: '.';
  }

  33% {
    content: '..';
  }

  66% {
    content: '...';
  }

  100% {
    content: '.'; /* возвращаемся к одной точке */
  }
}
