/* Значения переменных в разных цветовых схемах */

:root {
  --font-family-default: 'Montserrat', arial, helvetica, sans-serif;
  --font-family-logo: 'Raleway', arial, helvetica, sans-serif;
  --font-family-banner: 'Dancing Script', arial, helvetica, sans-serif;
}

.theme-light {
  --color-default: #1c1c1c;
  --color-icon: rgba(0 0 0 / 0.75);
  --color-button: rgba(255 255 255 / 0.9);
  --color-button-default: #007dff;
  --color-border: rgba(51 51 51 / 0.3);
  --color-modal-border: transparent;
  --color-sidebar: rgba(0 0 0 / 0.5);
  --color-spinner: rgba(0 0 0 / 0.4);
  --color-link: rgba(0 0 0 / 0.8);
  --color-banner: #fffafa;
  --color-not-found: rgba(0 0 0 / 0.5);
  --color-button-return: rgba(0 0 0 / 0.6);
  --color-shift: rgba(0 0 0 / 0.9);
  --bg-color-default: #fffafa;
  --bg-color-button: rgba(0 0 0 / 0.9);
  --bg-color-icon-theme: #dbdbdb;
  --bg-color-slider: #adadad;
  --bg-color-overlay: rgba(0 0 0 / 0.3);
  --bg-color-link: rgba(0 0 0 / 0.5);
  --bg-button-return: rgba(0 0 0 / 0.1);
  --bg-color-shift: rgba(100 100 100 / 0.1);
  --bg-color-column: rgba(57 57 57 / 0.6);
}

.theme-dark {
  --color-default: rgba(255 255 255 / 0.8);
  --color-icon: rgba(255 255 255 / 0.8);
  --color-button: rgba(0 0 0 / 0.8);
  --color-button-default: #007dff;
  --color-border: rgba(234 234 234 / 0.3);
  --color-modal-border: rgba(234 234 234 / 0.3);
  --color-sidebar: rgba(255 255 255 / 0.5);
  --color-spinner: rgba(255 255 255 / 0.4);
  --color-link: rgba(255 255 255 / 0.8);
  --color-banner: #fffafa;
  --color-not-found: rgba(255 255 255 / 0.5);
  --color-button-return: rgba(255 255 255 / 0.6);
  --color-shift: rgba(255 255 255 / 0.9);
  --bg-color-default: #1c1c1c;
  --bg-color-button: rgba(255 255 255 / 0.9);
  --bg-color-icon-theme: #252525;
  --bg-color-slider: #2e8b57;
  --bg-color-overlay: rgba(0 0 0 / 0.4);
  --bg-color-link: rgba(255 255 255 / 0.5);
  --bg-button-return: rgba(255 255 255 / 0.2);
  --bg-color-shift: rgba(130 130 130 / 0.1);
  --bg-color-column: rgba(255 255 255 / 0.5);
}
