.item {
  display: flex;
  justify-content: space-between;
  height: 123.2px;
  padding: 30px;
  background-color: var(--bg-color-shift);
  color: var(--color-shift);
  border-radius: 30px;
  cursor: pointer;
}

.text__current {
  font-size: 14px;
  color: #1e9146;
}

.text__end {
  font-size: 14px;
  color: #007dff;
}
