.container {
  position: fixed;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  padding: 30px;
  min-height: auto;
  max-height: 94vh;
  border: 1px solid var(--color-modal-border);
  border-radius: 30px;
  overflow: auto;
  color: var(--color-default);
  background-color: var(--bg-color-default);
  transform: translate(-50%, -50%);

  /* Начальная прозрачность */
  /* opacity: 0; */

  /* Блокируем события */
  /* pointer-events: none; */

  /* Добавляем анимацию */
  /* transition: opacity 0.2s ease 0.1s; */
}

.container > :first-child {
  margin-left: auto;
}

/* .modal__open { */
/* Полная видимость */
/* opacity: 1; */

/* Разрешаем события */
/* pointer-events: auto; */
/* } */
