.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 80px;
  height: 80px;
}

.wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  border-radius: 50%;
  background-color: var(--bg-color-icon-theme);
}

.text {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 100px;
}

.button__register {
  margin-bottom: 40px;
  opacity: 0.8;
  font-size: 16px;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: var(--color-default);
  text-decoration-thickness: 0.8px;
  text-underline-offset: 4px;
  cursor: pointer;
}
