.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255 255 255 / 0.1);
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.badge__position {
  position: absolute;
  top: 14px;
  left: -16px;
  transform: translate(50%, 50%);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.title__text {
  font-size: 14px;
}

.wrapper {
  display: flex;
  gap: 4px;
  align-items: center;
}

.date {
  font-size: 12px;
  opacity: 0.6;
}

.forward__icon {
  fill: #acacac;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.status__text {
  opacity: 0.6;
  font-size: 14px;
}

.warning__position {
  position: relative;
  bottom: 1px;
}

.container:hover {
  opacity: 0.6;
}
