.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 clamp(0rem, -6.375rem + 31.875vw, 31.875rem);
  flex-grow: 1;
  color: var(--color-not-found);
  text-align: center;
  font-size: 16px;
}
