.list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  min-height: 123px;
  background-color: var(--bg-color-shift);
  color: var(--color-shift);
  border-radius: 30px;
  cursor: pointer;
}

.wrapper__shift {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text__current {
  font-size: 14px;
  color: #1e9146;
}

.text__end {
  font-size: 14px;
  color: #007dff;
}

.wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.location {
  letter-spacing: 0.4px;
  opacity: 0.44;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text {
  font-size: 14px;
  margin-left: 1px;
  opacity: 0.6;
}

.title {
  opacity: 0.4;
  font-size: 14px;
}

.text__info {
  font-size: 16px;
  opacity: 0.6;
}
