.item {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  min-height: 123px;
  background-color: var(--bg-color-shift);
  color: var(--color-shift);
  border-radius: 30px;
  cursor: pointer;
}

.wrapper__shift {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.text__current {
  font-size: 14px;
  color: #1e9146;
}

.text__end {
  font-size: 14px;
  color: #007dff;
}

.text {
  font-size: 16px;
  margin-left: 1px;
}
