.title {
  font-weight: 400;
  text-align: center;
  line-height: 1.4;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 325px;
  margin: 0 auto;
  padding-bottom: clamp(0.625rem, -0.0647rem + 3.4483vw, 1.875rem);
}
