.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  gap: 30px;
}

.wrapper__info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.text {
  max-width: 250px;
  text-align: center;
}

.spinner {
  position: relative;
  justify-self: center;
  width: 40px;
  height: 40px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.button__return {
  /* border: 1px solid var(--color-button-return); */
  background-color: var(--bg-button-return);
}

.button__logout {
  color: var(--color-button);
  background-color: var(--bg-color-button);
}

.button__logout,
.button__return {
  min-width: 110px;
  border-radius: 16px;
  padding: 12px 0;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
}

.button__logout:active,
.button__return:active {
  transition: transform 0.2s ease;
  transform: scale(0.97);
}
